@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
body {
    align-content: auto;
    background-image: url("teamImages/bballCourt.jpg");
    background-position: center;
    background-size: cover;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    float: left; 
}

#header {
    border-radius: 1px;
    background-color: #1C1C1C;
    width: 250px;
    height: 35px;
    line-height: 0;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: burlywood;
    font-size: small;
    margin-bottom: 10px;
}

#date {
    align-content: auto;
    font-family: 'Baloo Bhai', cursive,Georgia, 'Times New Roman', Times, serif;
}
#homeTeam{
    float: left;
    width: 110px ;
    height: 60px;
}
#homePic{
    text-align: left;

}
#homeScore{
    line-height: 0px;
    float: right;
    font-size: xx-large;
    position: relative;
    bottom: 7px;
    

}
#HometeamName{
    text-align: left;
    float: left;
    font-size: large;
}
#awayTeam{
    float: right;
    width: 110px ;
    height: 60px;
}
#awayPic{
    text-align: right;

}
#awayScore{
    line-height: 0px;
    float: left;
    font-size: xx-large;
    padding-bottom: 100px;
    position: relative;
    bottom: 7px;
    left: 0px;

}
#AwayteamName{
    text-align: right;
    float: right;
    font-size: large;
}
#shared{
    padding-top: 10px;
    text-align: center;
    font-size: large;
}
#boxes{
    float:left; 
    text-align: left;
}
.gameBox{

    position: relative;
    float: middle; 
    border-radius: 15px;
    padding: 4px;
    width: 275px;
    height: 60px;
    /* border-color: rgb(185, 153, 111);
    border-style: solid;
    border-width: medium; */
    margin-top:3px;
    background-image: url("teamImages/scoreback.jpg");
    background-position: center;
    background-size: cover;


}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }